<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent></app-parent> -->
<!-- <app-parent1></app-parent1> -->
<!-- <app-parent3></app-parent3> -->
<!-- <app-inbuild-pipe></app-inbuild-pipe> -->
<!-- <app-custom-pipe></app-custom-pipe> -->
<!-- <app-course></app-course> -->
<!-- <app-post></app-post> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-demobootstrap></app-demobootstrap> -->
<app-tdfdemo></app-tdfdemo>